<html>
<head>
<title>{{title}}</title>
<link rel="stylesheet" href='/static/style3.css'/>
</head>
<body>
<h1>Sound Mixing</h1>
<h2>The date and time on the server: {{time}}</h2>
<h3>Smile for the camera!: {{response}}</h3>

<iframe width="560" height="315"
    src="https://www.youtube.com/embed/videoseries?list=OLAK5uy_maetTqjROCXs6zif1eheTirJl7_h7Xhc4"
    frameborder="0" allow="accelerometer;
    autoplay; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen>
</iframe>

</body>
</html>

